-title "Digital Pancreas: Edit Blood Glucose Reading for #{@user.user_name}"

%section#reading_entry
  %header#edit_entry_header
    %h1= 'Edit Entry'
  %section#edit_entry
    = render 'glucose_readings/form'
