-title "Digital Pancreas: New Blood Glucose Reading"

%header
  %h1 New Blood Glucose Reading
%section#blood_glucose_entry_area
  = render 'form'
%section#return_to_user
  = link_to 'Account', current_user
