section#account
  +content-area(400,2em,false)
  header#account_header
    +clearfix
    h1
      +clearfix
      a
        float: right
        margin: 0.1em
        +bssm_button
        font-size: 1em
  section#account_details
    +clearfix
    table
      width: 100%
      margin: 1em 0
      th,td
        padding: percentage(2/368)
      th
        font-weight: bold

